<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Input Products</title>

    <link href="https://fonts.googleapis.com/css?family=Muli|Quicksand|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/bulma.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  </head>
  <body>
    <div id="products">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-7">
          <div class="tile is-parent">
            <article class="tile is-child notification is-info">
                <!-- Content -->
                <div class="wadah col-xs-8 col-sm-4 col-md-2 col-md-1 flex-item" v-for="product in products">
                  <a>
                    <img class="image" v-bind:src="product.picture" alt="">
                    <hr/>
                    <h3 class="subtitle">{{ product.products_name }}</h3>
                    <p class="subtitle">
                      <i class="fa fa-money" aria-hidden="true"></i> Rp {{ product.prices }}
                    </p>
                    <p class="title">
                      <a v-on:click.prevent="addCart(product)" class="button is-white">
                        <span class="icon">
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </span>
                        <br/>
                        <span class="text-is-white">Add to Cart</span>
                      </a>
                    </p>
                    <div class="down">
                      <i class="fa fa-question-circle dropbtn" aria-hidden="true"></i>
                      <div class="dropdown-details">
                        {{ product.details }}
                      </div>
                    </div>
                  </a>
                </div>
            </article>
          </div>
        </div>
        <input-product/>
      </div>
    </div>

    <!-- ================================== -->
    <script>
      Vue.component('input-product',
      {
        template : `
        <div class="tile is-parent">
          <article class="tile is-child notification is-light">
            <form @submit.prevent="saveProduct" id="products">
              <div class="field is-horizontal">
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <div class="field">
                        <input class="input" type='text' v-model="form.products_name" name='products_name' placeholder="Products Name"><br><br>
                        <textarea type='text' v-model="form.details" name='details' class="textarea" placeholder="Explain products"></textarea><br>
                        <input class="input" type='text' v-model="form.category" name='category' placeholder="Category Name"/><br><br>
                        <input class="input" type='text' v-model="form.prices" name='prices' placeholder="Prices"/><br><br>
                        <input class="input" type='text' v-model="form.stocks" name='stocks'placeholder="Stocks"/><br><br>
                        <input class="button is-warning" type="submit" value="Upload Product" name="submit"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </article>
        </div>
        `,
        data(){
          return {
            form : {
              products_name: '',
              details: '',
              category: '',
              prices: 0,
              stocks: 0
            }
          }
        },
        methods : {
          saveProduct(){
            console.log();
          }
        },

      })
      new Vue(
      {
        el: '#products',
        data: {
          products : []
        },
        methods: {
          saveProduct() {
            console.log('MASUK SINI', this.form.products_name);
          }
        },
        created(){
          axios.get('http://localhost:3000/products')
          .then(response => {
            console.log(response.data);
            this.products.push(...response.data)
          })
          .catch(err => {
            console.log(err);
          })
        }
      })
    </script>
  </body>
</html>
