<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Input Products</title>
  <link href="https://fonts.googleapis.com/css?family=Muli|Quicksand|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/bulma.css" type="text/css">
  <link rel="stylesheet" href="assets/css/bootstrap.css" type="text/css">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
  
  <div id="products">
   
    <div v-if="status">
      <login-page v-if="showModal" @login="loginadmin" />
    </div>
    <div v-else class="tile is-ancestor">
      <div class="tile is-vertical is-4">
        <input-product @savedata="productsave" />
      </div>
      <div class="tile is-vertical is-8">
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <div class="row">
              <!-- Content -->
              <div class="wadah is-info col-md-4" v-for="product in products">
                <img class="image" v-bind:src="product.picture" alt="">
                <hr/>
                <h3 class="">{{ product.products_name }}</h3>
                <p class="subtitle">
                  <i class="fa fa-money" aria-hidden="true"></i> Rp {{ product.prices }}
                </p>
                <p class="title">
                  <a @click.prevent="deleteImages(product._id)" class="button is-white">
                    <span class="icon">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </span>
                    <br/>
                    <span class="text-is-white">Delete</span>
                  </a>
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
  <!-- ================================== -->
  <script>
    Vue.component('login-page', {
      template: '#modal-template',
      data() {
        return {
          username: '',
          password: ''
        }
      },
      methods: {
        checklogin() {
          this.$emit('login', {
            username: this.username,
            password: this.password
          })
        }
      }
    })
    Vue.component('input-product', {
      template: `
        <div class="tile is-parent posisibos">
          <article class="tile is-child notification is-light">
              <form v-on:submit.prevent="saveproduct">
                <div class="field is-horizontal">
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <div class="field">
                          <label class="label">Product Name</label>
                          <input class="input" type='text' v-model="form.products_name" name='products_name' placeholder="Products Name"><br><br>
                          <label class="label">Descriptions</label>
                          <textarea type='text' v-model="form.details" name='details' class="textarea" placeholder="Explain products"></textarea><br>
                          <label class="label">Category Name</label>
                          <input class="input" type='text' v-model="form.category" name='category' placeholder="Category Name"/><br><br>
                          <label class="label">Princes</label>
                          <input class="input" type='text' v-model="form.prices" name='prices' placeholder="Prices"/><br><br>
                          <label class="label">Stocks</label>
                          <input class="input" type='text' v-model="form.stocks" name='stocks'placeholder="Stocks"/><br><br>
                          <div v-if="!image">
                            <label class="label">Select image</label>
                            <div class="file is-warning">
                              <label class="file-label">
                                <input class="file-input" name="file" id="file" type="file" @change="onFileChange">
                                <span class="file-cta">
                                  <span class="file-icon">
                                    <i class="fa fa-upload"></i>
                                  </span>
                                  <span class="file-label">
                                    Choose file…
                                  </span>
                                </span>
                              </label>
                            </div>
                            <br/>
                          </div>
                          <div v-else>
                            <img class="small":src="image" />
                          </div>
                          <input class="button is-warning" type="submit" value="Upload Product" name="submit"/>
                          <button class="button is-light" @click="removeImage">Reset</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
          </article>
        </div>
        `,
      data() {
        return {
          form: {
            products_name: '',
            details: '',
            category: '',
            prices: null,
            stocks: null
          },
          image: '',
          resultUpload: null
        }
      },
      methods: {
        removeImage() {
          this.image = '';
          this.form.products_name = '';
          this.form.details = '';
          this.form.category = '';
          this.form.prices = '';
          this.form.stocks = '';
        },
        onFileChange(e) {
          // alert(JSON.stringify(e))
          console.log(e.target.files)
          var files = e.target.files || e.dataTransfer.files;

          if (!files.length) {
            return;
          }
          this.resultUpload = files[0]
          var image = new Image();
          var reader = new FileReader();
          var vm = this;

          reader.onload = (e) => {
            vm.image = e.target.result;
          };
          // reader.readAsDataURL(file);
          reader.readAsDataURL(this.resultUpload);
          // this.createImage(files[0]);
        },
        saveproduct() {
          let data = new FormData();
          data.append('products_name', this.form.products_name);
          data.append('image', this.resultUpload);
          data.append('details', this.form.details);
          data.append('category', this.form.category);
          data.append('prices', this.form.prices);
          data.append('stocks', this.form.stocks);
          axios.post('http://api.smartshopp.ga/products', data)
          .then((data) => {
            console.log('setalah save product', data)
            this.image = '';
            this.form.products_name = '';
            this.form.details = '';
            this.form.category = '';
            this.form.prices = '';
            this.form.stocks = '';
          })
          .catch(err => {
            console.log('APA KENA ERROR')
            console.log(err)
          })
        }
      },
    })
    new Vue({
      el: '#products',
      data: {
        products: [],
        showModal: false,
        status: false,
        name: null
      },
      methods: {
        out() {
          localStorage.clear();
          location.reload()
        },
        deleteImages(id) {
          axios.delete(`http://api.smartshopp.ga/products/${id}`)
          .then(res => {
            console.log('HASIL HAPUS', res);
            location.reload();
          })
          .catch(err => {
            console.log(err);
          })
        },
        productsave(data) {
          let session = localStorage.getItem('token')
          if (!session) {
            this.showModal = true
            this.status = true
          }
          console.log('kesini ga', data)
          axios.post('http://api.smartshopp.ga/products', data)
          .then((data) => {
            console.log('setalah save product', data)

            location.reload();
          })
          .catch(err => {
            console.log('APA KENA ERROR')
            console.log(err)
          })
        },
        loginadmin(data) {
          axios.post('http://api.smartshopp.ga/login', data)
            .then(({
              data
            }) => {
              console.log('setalah login', data)
              if(data.token) {
                localStorage.setItem('token', data.token)
                localStorage.setItem('name', data.name)
                alert(data.msg)
                this.showModal = false
                this.status = false
                this.name = localStorage.getItem('name')
              }
            })
            .catch(err => {
              console.log(err)
            })
        }
      },
      created() {
        let session = localStorage.getItem('token')
        if (!session) {
          this.showModal = true
          this.status = true
        }
        this.name = localStorage.getItem('name')
        axios.get('http://api.smartshopp.ga/products')
        .then(response => {
          console.log(response.data);
          this.products.push(...response.data)
        })
        .catch(err => {
          console.log(err);
        })
      }
    })
  </script>
</body>

</html>